.container {
    background-color: black;
}
.ownersDisplay {
    /* top right bottom left */
    padding: 1px 20px 10px 20px;
    background-color: rgb(255, 251, 251);
    margin: 30px 10px;
    border-radius: 20px;
}

.ownersForm {
    /* top right bottom left */
    margin: 10px 0px 20px 0px;
}

.ownersInput {
    background-color: white;
    border-color: gray;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.ownersButton {
    background-color:#0a0a23;
    color: #fff;
    border:none;
    border-radius:10px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}

.ownersButton:hover {
    background-color: lightgray;
}

.ownersButton:active {
    background-color: gray;
    color: white;
    font-weight: bold;
}

.ownersTable {
    border-radius: 5px;
    padding: 10px;
    /* top right bottom left*/
    margin: 10px 0px 20px 0px;
}
.ownersHeaderCell {
    padding: 10px 20px 10px 10px;
    text-align: left;
    background-color: rgb(152, 149, 149);
}

.ownersCell {
    background-color: rgb(194, 191, 191);
    padding: 10px 20px 10px 10px;
    text-align: left;
}
